.benefits {
    padding-bottom: 0px;
}

.benefits__list {
    display: flex;
    column-gap: 30px;
}

.benefits__item {
    width: 270px;

    &:last-child {
        margin-right: 0px;
    }
}

.benefits__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;

    margin-bottom: 30px;

    background: var(--white-background-color);
    border-radius: 4px;
}

.benefits__title {
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
}

.benefits__paragraph {
    padding-top: 10px;

    line-height: 1.7;

    color: var(--secondary-color);
}