.client__list {
    display: flex;
    gap: 30px;
}

.client__list__link {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;
    fill: #afb1b8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover,
            &:focus {
                border: 1px solid var(--button-color);
                fill: var(--button-color);
            }
}
