:root {
    --first-color: #212121;
    --secondary-color: #757575;
    --button-color: #2196f3;
    --text-color: #fff;
    --secondary-logo-color: #000;
    --background-color: #2f303a;
    --white-background-color: #f5f4fa;
    --header-line-color: #ececec;
    --hero-background: #c4c4c4;
    --form-color: #757575;
}